#message
  %strong congratulations, Your Application Form had been successfully submitted 
  %strong You will receive a call or email from our school and your application will be duely processed.
=render 'partials/Abele_footer'