#message
  .connect_with_us_6
    .connect_content
      %strong congratulations, Your Application Form had been successfully submitted
      %br 
      %strong You will receive a call or email from our school and your application will be duely processed.
      %br 
      %strong Thank you.
    %br
%br 
%br
=render 'partials/Abele_footer'